$blueColor: #001984;                                              // Jericho blue Color
$whiteTextColor: #496785;                                        // Ideal text color on Grey Background
$whiteBackgroundColor: rgba(240, 240, 240, 0.9);                 // White Background

$query__mobile: 300px;
$query__tablet: 700px;
$query__desktop: 900px;
