footer {
  text-align: center;
  @include blockElement;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 0;
  padding-right: 0;
  background-color: #000000;
  width: 100%;

  .content {
    background-color: #000000;
    color: $blueColor;
    padding: 0;
  }

  @media (min-width: $query__mobile){
    font-size: 50%;
  }

  @media (min-width: $query__desktop) {
    font-size: 85%;
  }
}