nav {
  position: absolute;
  top: 1em;
  right: 0em;
  color: $whiteBackgroundColor;

  .navicon {
    float: right;
    color: $blueColor;
    font-size: 2em;
    margin-right: 2em;

    @media (min-width: $query__desktop) {
      display: none;
    }
  }

  ul {
    display: none;
    position: absolute;
    background-color: $blueColor;

    li {
      padding: 1em;
      list-style-type: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $blueColor;
        &:hover,
        &:focus {
          color: $whiteBackgroundColor;
        }
      }
    }
  }

  @media (min-width: $query__desktop) {
    .desktopNav {
      display: inline-block;
      right: 0em;
      width: 37em;
      background-color: #ffffff;
      color: $blueColor;
      font-size: 1em;
      top: 2em;

      li {
        display: inline;
        padding: 0.5em;
        &:focus,
        &:hover {
          background-color: $blueColor;
          color: $whiteBackgroundColor;
        }
      }
    }
  }
}